<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CommunityClinicLLOMDB"
             connectionString="Data Source=desktop-e4f55fe;Initial Catalog=CommunityClinicLLOMDB;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
			<add name="HealthcareDB-server"
				 connectionString="Data Source=23.95.235.16;Initial Catalog=CommunityClinicLLOMDB;User ID=vtdi_student;Password=P@ssword1;TrustServerCertificate=True"
				 providerName="System.Data.SqlClient"/>
			<add name="CommunityClinicLLOMDB-teen" 
				 connectionString="Data Source=TEEN-HUB-LAP-03\SQLEXPRESS;Initial Catalog=CommunityClinicLLOMDB;Integrated Security=True;TrustServerCertificate=True"
				 providerName="System.Data.SqlClient" />
		<add name="HealthcareDB"
				 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                           AttachDbFilename=|DataDirectory|HealthcareDB.mdf;
                           Integrated Security=True;"
				 providerName="System.Data.SqlClient"/>
		</connectionStrings>
</configuration>