<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="CommunityClinicLLOMDB" connectionString="Data Source=TEEN-HUB-LAP-03\SQLEXPRESS;Initial Catalog=CommunityClinicLLOMDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="CommunityClinic.Properties.Settings.CommunityClinicLLOMDBConnectionString"
   connectionString="Data Source=23.95.235.16;Initial Catalog=CommunityClinicLLOMDB;Persist Security Info=True;User ID=vtdi_student;Password=P@ssword1;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="CommunityClinic.Properties.Settings.CommunityClinicLLOMDBConnectionString1"
   connectionString="Data Source=TEEN-HUB-LAP-03\SQLEXPRESS;Initial Catalog=CommunityClinicLLOMDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>